.root {
  font-size:15px;
}
body {
  font-family: helvetica;
  background-color: #0C2440;
  background-image:url("https://dl.dropboxusercontent.com/s/kylmr2q0yvdrnns/Login%20Complete%20Background.png?dl=0");
  background-repeat: no-repeat;
}

.introText {
  margin: 0 auto;
  margin-top: 12rem;
  color: white;
  width: 25rem;
}


#title {
  font-size: 1.5rem;
}

.userBox {
  margin: auto;
  margin-bottom: 1.3rem;
  width: 25rem;
  padding: .5rem;
  color: white;
  list-style-type:none;
  background-color: rgba(46, 144, 255, 0.3);
}

.list {
  list-style-type:none;
}

#textBoxes {
  margin-top: 1.5rem;
}

ul li {
  margin: .75rem 0;
}

ul li div {
    display: inline;   
}

.textBox {
  border: 0.067rem solid white;
  float: right;
  height: 1.2rem;
  width: 16.6rem;
}

button {
  background-color: white;
  color: #0C2440;
}

button:hover {
  text-decoration: underline;
}

a {
  color: #0C2440;
  text-decoration: none;
}

#loginButton {
  position: relative;
  right: -353px;
}

#accountButton {
  position: relative;
  right: -303px;
}
