.root {
  font-size:15px;
}
body {
  font-family: helvetica;
  background-color: #0C2440;
  background-image:url("https://dl.dropboxusercontent.com/s/kylmr2q0yvdrnns/Login%20Complete%20Background.png?dl=0");
  background-repeat: no-repeat;
}

.userBox {
  margin: auto;
  margin-bottom:20px;
  width: 25rem;
  padding: .5rem;
  color: white;
  list-style-type:none;
  background-color: rgba(46, 144, 255, 0.5);
}

.list {
  list-style-type:none;
}

#textBoxes {
  margin-top: 12rem;
}

li {
  margin: .75rem 0;
}

button {
  background-color: white;
  color: #0C2440;
}

button:hover {
  text-decoration: underline;
}

#loginButton {
  position: relative;
  right: -350px;
}

#accountButton {
  position: relative;
  right: -300px;
}
